<main>
  <section style="background-color: #eee">
    <div class="card shadow-0 border rounded-3">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="mr-5 col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
            <div class="bg-image hover-zoom ripple rounded ripple-surface">
              <img
                src="https://cdn.media.halfords.com/i/washford/626982?w=740&h=555&qlt=default&fmt=auto&v=1"
                alt="huffy extent bike"
                class="w-100"
              />
              <a href="#!"> </a>
            </div>
          </div>
          <div class="col-md-6 ml-5 col-lg-6 col-xl-6">
            <h5>Huffy Extent</h5>
            <div class="d-flex flex-row m-3"></div>
            <div class="mt-1 mb-0 text-muted small">
              <span>Brand: Huffy</span>
              <span class="text-primary"> • </span>
              <span>Model Type: Extent</span>
              <span class="text-primary"> • </span>
              <span>Frame Size: 17.5</span>
              <span class="text-primary"> • </span>
              <span>Wheel Size: 25 <br /></span>
            </div>
            <p class="mb-4 mb-md-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Exercitationem, voluptate! Iure, aliquam rem. Molestias, tempora
              in. Minus labore modi obcaecati voluptatem dolorum veniam quasi,
              placeat voluptate repellendus vitae nam eligendi.

              <span class="tag">Weekly price: £30</span>
              <span class="tag">Daily price: £20</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Form to book a bike -->
  <section name="bike-form" id="bike-form">
    <div class="row justify-content-center">
      <div class="col-md-8 mb-4">
        <div class="card m-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Make your booking</h5>
          </div>
          <div class="card-body">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <div class="mb-4">
                      <label for="selectPlan">Select plan
                        <span> * </span></label>
                      <select class="form-control" id="selectPlan">
                        <option>Weekly</option>
                        <option>Daily</option>
                      </select>
                    </div>
                    <div class="mb-4">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>Choose how long</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="3">Four</option>
                      </select>
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="rent-date">
                        Start date
                        <span> * </span></label>
                      <input
                        type="date"
                        id="rent-date"
                        class="form-control"
                        min="2022-07-14"
                        required=""
                      />
                    </div>
                    <!-- <div class="mb-3">
                          <label class="form-label" for="return-date"
                            >duration <span> * </span></label
                          >
                          <input
                            type="text"
                            id="return-date"
                            class="form-control"
                            min="2022-07-14"
                            required=""
                          />
                          </div>
                        </div> -->
                    <div class="mt-5 row justify-content-center">
                      <button type="submit" class="btn btn-secondary btn-lg">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Text input -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>