<section class="d-flex flex-wrap justify-content-evenly">
	<!-- card 1 -->
	<div class="card m-3" style="width: 28rem">
		<img
			d-flex
			src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp"
			class="card-img-top"
			alt="Chicago Skyscrapers"
		/>
		<div class="card-body">
			<h5 class="card-title">{{bikes.brand}} {{bikes.modelType}}</h5>
			<p class="card-text">
				{{bikes.description}}
			</p>
		</div>
		<ul class="list-group list-group-light list-group-small">
			<li class="list-group-item px-4">Daily Price</li>
			<li class="list-group-item px-4">Weekly Price</li>

		</ul>
		<div class="card-body">
			<div class="d-grid gap-2 col-6 mx-auto">
				<button class="btn btn-primary" type="submit">Book Now</button>
			</div>
		</div>

	</div>
</section>