<main id="main-container" style="margin-top: 58px">
      <section class="container pt-4">
   
        
          <div class="card">

           
              
                    <div class="card text-center">
                      <div class="card-header"> <h5>MY PROFILE</h5></div>
                      <div class="card-body">

                        
                   
                        <form id="profile-details-forms" class="mx-4">
                            <div class="card mb-4 " style="width: 10rem; height: 8rem;">
                                <div class="card-header"> profile pic </div>
                                <img src="" class="card-img-top" alt="">
                               
                              </div>
                              
                          <div class="form-floating mb-4">
                          
                            <div class="input-group mb-3">
                                
                                <span class="input-group-text" id="inputGroup-sizing-default">first name</span>
                                <input type="text" class="form-control" id="firstName" placeholder="abdinasir" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-default">
                               
                              </div>
           
                             </div>
                             <div class="form-floating mb-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"  id="inputGroup-sizing-default">Last Name</span>
                                    <input type="text" class="form-control" id="lastName" value="Abdinasir"  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                 
                                  </div>
                                 </div>
                             <div class="form-floating mb-4">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Your Email</span>
                                    <input type="text" class="form-control"  placeholder="abc@gmail.com" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                  
                                  </div>
                                      <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="submit" id="book-button">Update</button>
                              </div>
                                 </div>
                             
                      
                        </form>
                      </div>
                    </div>
                 
      
          </div>
      </section>
      
      <section class="container pt-4">
   
        
        <div class="card">

         
            
                  <div class="card text-center">
                    <div class="card-header"> <h5>Password reset</h5></div>
                    <div class="card-body">

                      
                 
                      <form id="password-form" class="mx-4">
                          
                            
                        <div class="form-floating mb-4">
                        
                          <div class="input-group mb-3">
                              
                              <span class="input-group-text" id="inputGroup-sizing-default">Current password</span>
                              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                           </div>
                           <div class="form-floating mb-4">
                              <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default">New password</span>
                                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                               </div>
                           <div class="form-floating mb-4">
                              <div class="input-group mb-3">
                                  <span class="input-group-text" id="inputGroup-sizing-default">Confirm password</span>
                                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                               </div>
                               <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="submit" id="book-button">Reset password</button>
                              </div>
                            
                      </form>
                    </div>
                  </div>
               
    
        </div>
    </section>
  </main>
    