* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #6d6d6d;
}

/* CARD STYLING */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.card {
  --padding: 1rem;
  background: #fcf6f5;
  /* color: #2bae66; */
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  /* max-height: 900px; */
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.025);
}

.card-body {
  color: #6d6d6d;
  font-size: 0.9rem;
  padding: 0 var(--padding);
}

.card-footer {
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
  margin: auto;
  text-align: center;
}

.card-footer-p {
  color: #fcf6f5;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.4em;
  text-align: center;
}

.footer-p {
  background-color: #6d6d6d;
}

.btn {
  background-color: #03c03c;
  color: #fcf6f5;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn:hover {
  background: #2ee17e;
  transition: color 0.2s;
}

.tag {
  display: inline-block;

  width: auto;
  height: 38px;

  background-color: #979797;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #979797;

  /* This makes room for the triangle */
  margin-left: 40px;

  position: relative;

  color: white;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
  margin-top: 8rem;
}

.tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #979797;
}

/* Makes the circle */
.tag:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}
