body {
  background-color: cadetblue;
  font-family: "Roboto", sans-serif;
}

.background-img {
  background-position: center bottom;
  background-size: cover;
}

.font-colour {
  color: white;
  /* -webkit-text-stroke: 1.11px black; /* stroke width and color */
  /* color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  font-weight: bold; */
}

.submit-btn {
  background-color: cadetblue;
}

.bike-image {
  transition: 200ms transform ease-in-out;
}

.navbar-brand {
  font-size: 60px;
  font-family: "Edu QLD Beginner", cursive;
}

.cost-badge {
  min-width: 200px;
}

.bike-card-img {
  object-fit: contain;
  height: 400px;
}

@media screen and (max-width: 596px) {
  .cost-badge {
    min-width: 150px;
  }
}
